<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.dotMemoryUnit" version="3.2.20220510" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="17.9.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net472" />
</packages>